.buttonWrapper {
    display: flex;
    margin: 15px;
}

.beforeButton,
.afterButton {
    width: 48px;
    height: 48px;
    background-color: none;
    border: none;
    border-radius: 10px;
}

.beforeButton {
    margin-right: 10px;
}

.beforeButton img {
    width: 15px;
    height: 15px;
}

.afterButton {
    margin-left: 10px;
}

.afterButton img {
    width: 15px;
    height: 15px;
}

.dateButton {
    min-width: 160px;
    width: 90%;
    height: 48px;
    padding: 8px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
}

